name: deploy
on:
  push:
    branches: [ main ]

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: List repository workflows using the GitHub API
      run: |
        curl -L \
          https://pi.mitchbr.dev/deploy?service=${{ github.repository }}